@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid mt-5">
    <h1>Welcome to the Decision Deck</h1>
    <h4 class="mt-5">Unlock the Power of Insight</h4>
    <p class="lead">Create, share, and analyze polls with ease. Our intuitive platform empowers you to gather valuable feedback and make informed decisions in real time. Whether you're seeking opinions, conducting research, or just curious, Poll App is here to help.</p>
    <a href="/Poll/AddPoll" id="addPoll" class="btn btn-outline-primary mb-3">Create a Poll</a>
    <h2 class="mt-5">Features</h2>
    <div class="row justify-content-start">
        <div class="col-md-4 shadow p-3 bg-white rounded">
            <h4>Latest Trends</h4>
            <p>Learn about the latest trends in polling and how to create effective polls.</p>
        </div>
        <div class="col-md-4 shadow p-3 bg-white rounded">
            <h4>Analytics Tool</h4>
            <p>Analyze poll results with our advanced analytics tools and gain insights.</p>
        </div>
        <div class="col-md-4 shadow p-3 bg-white rounded">
            <h4>Community</h4>
            <p>Share your polls with a wide audience and engage with your community.</p>
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col-md-4 shadow p-3 bg-white rounded">
            <h4>Easy to Use</h4>
            <p>Create and participate in polls effortlessly.</p>
        </div>
        <div class="col-md-4 shadow p-3 bg-white rounded">
            <h4>Live Results</h4>
            <p>Get instant feedback as votes come in.</p>
        </div>
        <div class="col-md-4 shadow p-3 bg-white rounded">
            <h4>Customized Polls</h4>
            <p>Tailor your polls to suit your needs.</p>
        </div>
    </div>
    <div class="mt-5">
        <h2>About Us</h2>
        <p>We are dedicated to providing the best tools for creating, sharing, and analyzing polls. Our mission is to help you gather valuable insights and make informed decisions.</p>
    </div>
    <div class="mt-5">
        <h2>Contact Us</h2>
        <p>If you have any questions or need support, feel free to reach out to us.</p>
        <ul>
            <li>Email: support@polls.com</li>
            <li>Phone: +1 234 567 890</li>
        </ul>
    </div>
</div>