@model IEnumerable<Group>

@{
    ViewData["Title"] = "Add Poll";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <h2 class="text-center">Add Poll</h2>
            <div class="row p-1">
                <div class="col-2"></div>
                <div class="col-10">
                    <input type="text" id="pollName" class="form-control" placeholder="Poll Name" />
                    <p id="errorPname"></p>
                </div>
            </div>
            <div class="row p-1">
                <div class="col-2"></div>
                <div class="col-10">
                    <div class="input-group">
                        <input type="text" id="description" class="form-control" placeholder="Description" />
                    </div>
                    <p id="errorPDes"></p>
                </div>
            </div>
            <div class="row p-1">
                <div class="col-2"></div>
                <div class="col-10">
                    <div class="input-group">
                        <input type="date" id="endDate" class="form-control" placeholder="End Date" />
                    </div>
                    <p id="errorPED"></p>
                </div>
            </div>
            <div class="row p-1">
                <div class="col-2"></div>
                <div class="col-10">
                    <div class="input-group">
                        <select class="form-control" id="selGroup">
                            <option>-- Select Group --</option>
                            @foreach(Group group in Model){
                                <option value="@group.GroupId"> @group.GroupName</option>
                            }
                        </select>
                    </div>
                    <p id="errorPGroup"></p>
                </div>
            </div>
            <div class="row p-1">
                <div class="col-2"></div>
                <div class="col-5">
                    <div class="input-group">
                        <input type="text" id="op1" class="form-control" placeholder="Option 1" />
                    </div>
                    <p id="errorOp1"></p>
                </div>
                <div class="col-5">
                    <div class="input-group">
                        <input type="text" id="op2" class="form-control" placeholder="Option 2" />
                    </div>
                    <p id="errorOp2"></p>
                </div>
            </div>
            <div class="row p-1">
                <div class="col-2"></div>
                <div class="col-5">
                    <div class="input-group">
                        <input type="text" id="op3" class="form-control" placeholder="Option 3" />
                    </div>
                    <p id="errorOp3"></p>
                </div>
                <div class="col-5">
                    <div class="input-group">
                        <input type="text" id="op4" class="form-control" placeholder="Option 4" />
                    </div>
                    <p id="errorOp4"></p>
                </div>
            </div>
            <div class="row p-1">
                <div class="col-2"></div>
                <div class="col-10 d-grid gap-2">
                    <input type="button" id="addPollButton" class="btn btn-outline-success" value="Add Poll" />
                </div>
            </div>
        </div>
    </div>
</div>
<script type="module" src="~/js/addPoll.js" asp-append-version="true"></script>
